<% var title = 'Create Exam' %>
<%- partial('../partials/header')%>

<h1>Create Exam</h1>

<form method="post" action="/createexam">
    <p>
        <label>Subject:</label>
        <input type="text" name="subject">
    </p>
    <p>
        <label>Date 1:</label>
        <input type="text" name="date1">
    </p>
    <p>
        <label>Date 2:</label>
        <input type="text" name="date2">
    </p>
    <p>
        <input type="submit" value="Create">
    </p>
</form>

<%- partial('../partials/footer') %>