<% var title = sub %>
<% include ../auth/head %>

<h1><%=sub%></h1>

<h3>Exam information</h3>
<%=ex%>
<br/><br/>
<h3>Project information</h3>
<%=pr%>
<br/><br/>
<h3>Group</h3>

<% include ../auth/foot %>