<% var title = 'Main Menu' %>
<% include ../auth/head %>

<h1>Create subject</h1>
<p>
    <a href='/createsubject'> Create Subject</a>
</p>

<p>
    <a href='/enroll'> Enroll Subject </a>
</p>

<% include ../auth/foot %>
