<%- partial('../partials/header_authenticated')%>

<div id="content-section">
    <h1>Create Group</h1>

    <form method="post" action="/creategroup">
        <p>
            <label>Name:</label>
            <input type="text" name="name">
        </p>
        <p>
            <label>Description:</label>
            <input type="text" name="description">
        </p>
        <p>
            <input type="submit" value="Create">
        </p>
    </form>
</div>
<div id="chat-section">
    <%- partial('../chat/chat')%>
</div>

<%- partial('../partials/footer')%>

