</div>
    <!-- end #main -->
</div>
<!-- end #container -->

<footer id="footer" class="container">
    
    <div class="inside">
        <div class="left"><%= sails.config.appName %> &copy; 2013-2014</div>
        <div class="right"></div>
    </div>
    
<footer>