<header id="header" class="container">
<div class="inside">
    <a href="/" id="logo"><img alt="FH Kiel Logo" src="/images/logo.jpg"/></a>
</div>
</header>
<!-- container start .. -->
<div id="container" class="container">
    <!-- main start .. -->
    <div id="main" class="inside">
    <%- partial("menu") %>


    