<header id="header" class="container">
<div class="inside">
    <div class="header-wide">
    
        <a href="/" id="logo">FH Kiel</a>
    
    </div>
    <div id="nav" class="container">
    <%- partial("menu") %>
    </div>
</div>


</header>
<!-- container start .. -->
<div id="container" class="container">
    <!-- main start .. -->
    <div id="main" class="inside">
    


    