<header id="header" class="container">
<div class="inside">
    <div class="header-wide row">
    
        <div class="home"><a href="/" id="logo"></a></div>
        <div class="banner"><%= sails.config.appName%></div>
        <div class="metanavi">
            <%- partial("metanavi") %>
        </div>
        
    
    </div>
    
</div>


</header>
<!-- container start .. -->
<div id="container" class="container">
    <!-- main start .. -->
    <div id="main" class="inside">
    
    <div id="nav-section" class="container">
    <%- partial("menu") %>
    </div>
    


    