<!--<div class="thick-strip">
    <div class="icon-round"></div>
    <div class="breadcrumbs">
        <ul class="bread">
            <li>Home</li>
        </ul>
    </div>
</div>
-->
<% if (req.session.type=='professor'){ %>
<p>
    <a href='/createsubject'> Create Subject</a>
</p>
<p>
    <a href='/createexam'> Create Exam</a>
</p>
<p>
    <a href='/createproject'> Create Project</a>
</p>
<% } else { %>
<p>
    <a href='/enroll'> Enroll Subject </a>
</p>
<% }%>