<!--<div class="thick-strip">
    <div class="icon-round"></div>
    <div class="breadcrumbs">
        <ul class="bread">
            <li>Home</li>
        </ul>
    </div>
</div>
-->
<!-- <h1>Create subject</h1>
<p>
    <a href='/createsubject'> Create Subject</a>
</p>

<p>
    <a href='/enroll'> Enroll Subject </a>
</p>
-->