
<style type="text/css">
    a.chat-user-true {
        color: green;
        pointer-events: auto;
    }

    a.chat-user-false {
        pointer-events: none;
    }
</style>
<h3>Chat Test</h3>
<p>You should log-in before being able to see users!</p>
<body>
<p><br/>User list:</p>
<ul id="userList">
<div id ="loadconnect">Connecting...</div>
</ul>

<script type="text/javascript">
    
    
    
    
   $(document).ready(function(){
        
        $("#chat-section").css("height",$("#container").height()-64);
        $("#content-section").css("width",$("#content-section").width()*1 - $("#chat-section").width()*1);
        
        
        loadUserList();
        $('#loadconnect').show();

        //overrides the default sent function to ours.
        chatboxManager.init({messageSent : sendMessage});
    });

    function loadUserList () {
        socket.post('/chat/listUsers', function (data) {
            for(var i = 0 ; i<data.length; i++) {
                    $("ul#userList").append(
                            $('<li>').append("<a href= '#' class = 'chat-user-"+data[i].isonline+"'" +
                                    "id = '"+ data[i].username +
                                    "' data-chatid = '0' onclick = 'requestChat(this)' >"+
                                    data[i].firstname + ' ' + data[i].lastname+
                                    "</a>"
                            ));//close ul append
            } //close for
            subscribeChats();
        }); //close listUsers response
    };

    function subscribeChats () {
        $("ul#userList li").each(function(){
            var current = $(this).find("a").first();

            socket.post('/chat/requestChat', {username : current[0].id},function(data) {
                current.attr('data-chatid',data.chatid);
                socket.post('/chat/subscribe',{id : data.chatid },function(response){});
            });
        });
        $('#loadconnect').hide();
    }

    //not complete function! So far just set all data-chatid´s to 0, however,
    //it will be possible to open a chat with someone (the same chat to everybody)
    //need also to unsubscribe the user!
    //However, the ideal thing is that everything should be done automatically.
    function unsubscribeChats () {
        $("ul#userList li").each(function(){
            var current = $(this).find("a").first().attr('data-chatid',"0");
        });
    }

    function requestChat (caller) {
        chatboxManager.addBox(caller.dataset.chatid,{title: caller.innerHTML});
    };

    function sendMessage(id,user,msg) {
        socket.post('/chat/newmessage',{ chatid: id, message: msg, user: user },function (data) {});
    };

</script>
