
<style type="text/css">
    #chatList {
        font-family:Georgia, Times, serif; font-size:15px;
    }
    #chatList ul {
        list-style: none;
    }
    #chatList ul li { }
    #chatList ul li a {
        display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
        border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer;
    }
    #chatList ul li a:hover {
        color:#FFFFFF; background-color:#F4FF65; background-repeat:repeat-x;
    }
    #chatList ul li a strong {
        margin-right:10px;
    }

    #chatList ul li a.chat-user-true {
        color: green;
        pointer-events: auto;
    }

    #chatList ul li a.chat-user-false {
        pointer-events: none;
    }


</style>
<h3>Chat</h3>
<div id ="chatList">
<ul id="userList">
<div id ="loadconnect">Connecting...</div>
</ul>
</div>

<script type="text/javascript">
   $(document).ready(function(){
        
        $("#chat-section").css("height",$("#container").height()-64);
        $("#content-section").css("width",$("#content-section").width()*1 - $("#chat-section").width()*1);

        loadUserList();
        $('#loadconnect').show();

        //overrides the default sent function to ours.
        chatboxManager.init({messageSent : sendMessage});
    });

    function loadUserList () {
        socket.post('/chat/listUsers', function (data) {
            for(var i = 0 ; i<data.length; i++) {
                    $("ul#userList").append(
                            $('<li>').append("<a href= '#' class = 'chat-user-"+data[i].isonline+"'" +
                                    "id = '"+ data[i].username +
                                    "' data-chatid = '0' onclick = 'requestChat(this)' >"+
                                    data[i].firstname + ' ' + data[i].lastname+
                                    "</a></li>"
                            ));//close ul append
            } //close for
            subscribeChats();
        }); //close listUsers response
    };

    function subscribeChats () {
        $("ul#userList li").each(function(){
            var current = $(this).find("a").first();

            socket.post('/chat/requestChat', {username : current[0].id},function(data) {
                current.attr('data-chatid',data.chatid);
                socket.post('/chat/subscribe',{id : data.chatid },function(response){});
            });
        });
        $('#loadconnect').hide();
    }

    function requestChat (caller) {
        chatboxManager.addBox(caller.dataset.chatid,{title: caller.innerHTML});
    };

    function sendMessage(id,user,msg) {
        socket.post('/chat/newmessage',{ chatid: id, message: msg, user: user },function (data) {});
    };

</script>
