<!DOCTYPE html>
<html>
  <head>
    <title>Sails</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sails</h1>
    <p>Welcome to Sails</p>
  <p>Click <a href="/login">here</a> to login</p>
  </body>
</html>