
<%- partial('../partials/header')%>

<div class="jumbotron">
  <h1>Our FH Kiel App</h1>
  <p>Welcome to our NodeJS FH Kiel App. The app seeks on providing an easy-to-use platform for organizing courses. Built on the robust platform of sailsjs, this app will provide features to enhance course management and communication.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/login">Login</a></p>
</div>

<%- partial('../partials/footer') %>