
<% var title = 'Authentication Example' %>
<% include head %>

<h1>Sign up</h1>

<form method="post" action="/signup">
    <p>
        <label>Name:</label>
        <input type="text" name="firstname">
    </p>
    <p>
        <label>Surname:</label>
        <input type="text" name="lastname">
    </p>
    <p>
        <label>FH Number:</label>
        <input type="text" name="matnumber">
    </p>
    <p>
        <label>E-mail:</label>
        <input type="text" name="email">
    </p>
    <p>
        <label>Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Sign up">
    </p>
</form>

<% include foot %>
