<!DOCTYPE html>
<html>
<head>
    <title>Resource Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome <%= user %></p>
<p>Click <a href="/logout">here</a> to logout</p>
</body>
</html>
